:root {
    --tile-size: 80px;
    --light-tile: #EEEED2;
    --dark-tile: #769656;
    --bg-color: #202020;
    --highlight:rgba(0,0,0,0.1);
    --check : #FEEC48;
}

@media all and (max-width: 450px) {
    :root {
        --tile-size: 40px;
    }
}
